<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp: <%= @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Gugi|Montserrat:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <h1 class='logo'><%= link_to 'Music App', bands_url %></h1>
        <ul>
          <li><%= current_user.email %></li>
          <li><%= button_to "Logout", session_url(current_user), method: :delete %></li>
        </ul>
      <% else %>
        <h1 class='logo'><%= link_to 'Music App', new_session_url %></h1>
      <% end %>
    </header>
    <% unless controller_name == 'sessions' || controller_name == 'users' %>
      <div class="search">
        <%= render 'search/form' %>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
